server:
  port: 8762

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  #调用接口时请将 localhost修改成 192.168.28.236
spring:
  application:
    name: GOODSSERVICE
  datasource:
    url: jdbc:mysql://localhost:3306/mall?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT%2B8&transformedBitIsBoolean=true
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource

mybatis:
  mapper-locations: classpath:/mappers/*.xml
  type-aliases-package: com.mr.goods.pojo
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl